<h1>Добро пожаловать в Альпинистский клуб!</h1>
<h2>Список восхождений:</h2>
<ul>
    {% for climb in climbs %}
        <li>
            <strong>Гора:</strong> {{ climb.mountain.name }}<br>
            <strong>Дата начала:</strong> {{ climb.start_date }}<br>
            <strong>Дата окончания:</strong> {{ climb.end_date }}<br>
            <strong>Альпинисты:</strong>
            <ul>
                {% for climber in climb.climbers.all %}
                    <li>{{ climber.name }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'add_mountain' %}">Добавить гору</a><br>
<a href="{% url 'add_climber' %}">Добавить альпиниста</a><br>
<a href="{% url 'add_climb' %}">Добавить восхождение</a>
